<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/">{{ site.name }}</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          {% for section in site.sections %}
            {% if section.disabled != true %}
              {% assign active = nil %}
              {{post.categories}}
              {% if post.categories contains section.category %}
                 {% assign active = "active" %}
              {% endif %}
              <li class="{{active}}">
                <a href="{{section.url}}">{{section.text}}</a> </li>
            {% endif %}
          {% endfor %}
<!--  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Dropdown
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="#">Hello</a></li>
      <li><a href="#">world!</a></li>
    </ul>
  </li>
-->
         </ul>
      </div>
    </div>
  </div>
</div>
<!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <nav class="container">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
          <form method="get" action="http://www.google.com/search" class="navbar-search pull-right">
            <input type="text" name="q" class="span2 search-query" placeholder="Search" maxlength="255" value="">
            <input name="sitesearch" type="hidden" value="{{ site.domain }}">
          </form>
        </nav>
      </div>
    </div>

-->
